.contact.content.content {
    height: 395px;
    /* background-color: rgb(226, 226, 238); */
    display: flex;
    margin-top: 32px;
    padding: 9px;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3cD8lV9uujZD-KayjB9WEJccC-6LIuiJocipRpqqYsA&s"); */
    position: relative;

}
.contact-content::after{
    content: "";
    background-image: url("https://thumbs.dreamstime.com/z/publication-newspaper-journal-books-background-catalog-design-article-magazine-press-tablet-210161964.jpg");
    width: 100%;
    height: inherit;
    position: absolute;
    border-radius: 18px;
    opacity: 0.2;
    
}
contact-form{
    height: 80vw;
    z-index: 1;
}